#https://clang.llvm.org/extra/clang-tidy/#id2
# D:/SourceCode/Git/winagrams/der_libs/cterminal.cpp
# there are a *lot* of new/delete in this file.
# It should probably be updated at some point!
# warning: deleting a pointer through a type that is not marked 'gsl::owner<>'; 
# consider using a smart pointer instead [cppcoreguidelines-owning-memory]
# 
# checks to revisit once this is under control:
# modernize-use-nullptr   (244 instances)
# modernize-use-auto      (too many instances)
# modernize-use-bool-literals
# performance-no-int-to-ptr
# der_libs/common_funcs.cpp:292:10: warning: do not access members of unions; 
#    consider using (boost::)variant instead 
#    [cppcoreguidelines-pro-type-union-access]

InheritParentConfig: true
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-switch-missing-default-case,
  clang-analyzer-*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-use-default-member-init,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-init-variables,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -modernize-redundant-void-arg,
  -modernize-use-using,
  -modernize-macro-to-enum,
  -modernize-use-nullptr,
  -modernize-avoid-c-style-cast,
  -modernize-use-auto,
  -modernize-avoid-variadic-functions,
  -modernize-use-bool-literals,
  -cppcoreguidelines-avoid-do-while,
  -modernize-use-default-member-init,
  performance-*,
  -performance-no-int-to-ptr,
  